body{font: 20px arial, sans-serif;}
.navbar{background-color: #17202A ;}
.quem-sou{background-color: #7dbece;
color: w;}
.margin{
padding-bottom: 50px;
padding-top: 20px;}
.parceiros{
    background-color: #1A5276;
    color: blanchedalmond;
}
.bg-footer{background-color: rgb(136, 8, 8);
color: white;}
